body { 
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	line-height: 15px;

	margin:0px;
	padding:0px;
}

#sidebar { 
	float:right;
	width:238px;
}

#container { 
    background-color: white;
    height: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 960px;
}

#events {
    
    margin-top: 10px;
    padding-left: 18px;
}

#events p{
	font-size:11px;
	text-decoration:underline;
	margin-left:6px;
}

#events h3 { 
	background-color: #c41a2b;
	color:white;
	padding:3px 4px;
}

#news { 
    ;
    margin-top: 40px;
    padding-left: 18px;
}

#news p{
	font-size:11px;
	text-decoration:underline;
	margin-left:6px;
}

#news  em{
	font-size:11px;
	text-decoration:none!important;
	position:relative;
	top:-14px;
	text-align:right;
	left:200px;
}

#news h3 { 
	background-color: #c41a2b;
	color:white;
	padding:3px 4px;
}


.more { 
	text-align:right;
	text-decoration:underline;
	margin-right:4px;
}	 
.cta { 
	width:335px;
	float:left;
  	height: 254px;
    margin: 10px 0 0;
	position:relative;	
	background-image:url(../resources/cta_old.png);
	background-color:white;

	border:0px solid black;	

}

.cta h2{ 
	margin-left:12px;
	padding-left:0px;
}

.cta ul { 
    font-size: 13px;
    height: 143px;
    margin-left: 25px;
    padding-left: 0;
    width: 290px;
	line-height: 20px;
}

.cta li {
	margin-bottom:7px;
}

.cta p{
	font-size: 17px;
	left: 20px;
	position: relative;
	text-align: right;
	top: 3px;
	width: 90%;
}


.right { 
	margin-left:20px;
}

h2 { 
	line-height:;
	color: #000;
	font-size:21px;
}



.signup { 
	text-align:right;
	color: #c41a2b;
	position:absolute;
	text-decoration:underline;
	bottom:0px;
}

.tab_content { 
	display:none;
}

#content_holder { 
    background-image: url("../resources/banner_bkg.png");
    height: 265px;
    overflow: hidden;
    position: relative;
    top: -1px;
    width: 960px;
}

#scroll { 
	left:0px;
	position:absolute;
}

#arrow_left {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 40px;
    height: 117px;
    left: 0px;
    padding-left: 5px;
    padding-top: 90px;
    position: absolute;
    top: 108px;
    width: 32px;
	display:none;
	margin-left:20px;
}

#arrow_right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 40px;
    height: 114px;
    padding-left: 10px;
    padding-top: 90px;
    position: absolute;
    right: 0;
    top: 108px;
    width: 32px;
	margin-right:20px;
	display:none;
}



#content_holder p{
	font-size:18px;
	margin:0 120px;
	padding-top:20px;
	line-height:30px;
	color:white;
} 

#in_the_press { 
	position:relative;
	top:20px;
}

/*In The Press */
#in_the_press { 
	clear:both;
}

#in_the_press img { 
	margin-top:20px;
	margin-left:130px;

}

/* Social Media */

.social_box { 
	margin-top:60px;
	padding-left:287px;
}

#v3 #social_box { 
	margin-top:10px;
	
}

#v2 .social_box { 
	margin-top:60px;
	padding-left:152px;
}



/* TABS */

.tab { 
	margin-right:20px;
	padding:3px;
	border:1px solid white;
}

#offer { 
	position: absolute;
	right: 386px;
	top: 80px;
}

#comp { 
	position: absolute;
	right: 282px;
	top: 80px;
}

#directory { 
	position: absolute;
	right: 154px;
	top: 80px;
}

#press { 
   position: absolute;
   right: 0px;
   top: 80px;
}

.current_section { 
	background-color:#ccc;
	border:1px solid black;
}

#home_tab { 
	display:none;
	height:0px!important;
}

/* V3 */ 

#v3 #events { 
	width:335px;
	float:left;
	padding:0px;
}

#v3 #news { 
	width:335px;
	float:left;
	margin-left:20px;
	padding:0px;
	margin-top:0px;
}

/* news ticker */

#news_ticker  {
	width:680px;
	background-color:#dadadc;
	height:22px;
	margin-top:10px;
	padding-top:10px;
	padding-left:10px;
	margin-bottom:2px;
	color: #c41a2b;

}
#news_ticker ul {
	position:absolute;
	list-style:none;
	margin-left:0px;
	padding-left:0px;	
}

#news_ticker li {
	margin-top:-17px;
	position:absolute;
	width:600px;
	margin-left:0px;
	padding-left:0px;
}	

#next_news { 
	position:absolute;
	right:300px;
	margin-top:-1px;
	font-weight:bold;
	color: #c41a2b;
}

#pause { 

	left:630px;
	position:relative;
}
	