body { 
	font-family: tahoma;
	font-weight: bold;
	line-height: 15px;
}

#sidebar { 
	float:right;
	width:249px;
}

#container { 
	width:960px;
	position:relative;
	margin:0px auto;
}

#events {
	border:1px solid black;
	margin-top:10px;
}

#events p{
	font-size:11px;
	text-decoration:underline;
	margin-left:6px;
}

#events h3 { 
	background-color: #b40816;
	color:white;
	padding:3px 4px;
}

#news { 

	border:1px solid black;
	margin-top:10px;
}

#news p{
	font-size:11px;
	text-decoration:underline;
	margin-left:6px;
}

#news  em{
	font-size:11px;
	text-decoration:none!important;
	position:relative;
	top:-14px;
	text-align:right;
	left:200px;
}

#news h3 { 
	background-color: #b40816;
	color:white;
	padding:3px 4px;
}


.more { 
	text-align:right;
	text-decoration:underline;
	margin-right:4px;
}	 
.cta { 
	width:335px;
	float:left;
	height:200px;
	border:1px solid black;
	margin:10px 0px;
	position:relative;	
}

.right { 
	margin-left:20px;
}

h2 { 
	line-height:;
	color: #b40816;
	margin-left:5px;
}



.cta p, .cta li { 
	margin:10px;
	font-weight:normal;
	font-size:12px;
}

.signup { 
	text-align:right;
	color: #b40816;
	position:absolute;
	text-decoration:underline;
	bottom:0px;
}

.tab_content { 
	display:none;
}

#content_holder { 
	height:207px;
	background-image:url(../resources/banner_bkg.png);
	overflow:hidden;
	width:960px;
	position:relative;
}

#scroll { 
	left:0px;
	position:absolute;
}

#arrow_left {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 40px;
    height: 117px;
    left: 0px;
    padding-left: 5px;
    padding-top: 90px;
    position: absolute;
    top: 143px;
    width: 32px;
	display:none;
}

#arrow_right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 40px;
    height: 117px;
    padding-left: 10px;
    padding-top: 90px;
    position: absolute;
    right: 0;
    top: 143px;
    width: 32px;
}



#content_holder p{
	font-size:18px;
	margin:0 120px;
	padding-top:20px;
	line-height:30px;
	color:white;
} 

/* TABS */

#offer { 
	position: absolute;
	right: 386px;
	top: 80px;
}

#comp { 
	position: absolute;
	right: 282px;
	top: 80px;
}

#directory { 
	position: absolute;
	right: 154px;
	top: 80px;
}

#press { 
   position: absolute;
   right: 0px;
   top: 80px;
}