body { 
	font-family: tahoma;
	font-weight: bold;
	line-height: 15px;
}


#container { 
	width:960px;
	position:relative;
	margin:0px auto;
}

#sidebar { 
	float:right;
	margin-right:0px;
}

.cta { 
	width:335px;
	float:left;
	height:200px;
	border:1px solid black;
	margin:10px 0px;
	position:relative;	
}

.right { 
	margin-left:20px;
}

.cta h2 { 
	color: #b40816;
	margin-left:5px;
}

.cta p, .cta li { 
	margin:10px;
	font-weight:normal;
	font-size:12px;
}

.signup { 
	text-align:right;
	color: #b40816;
	position:absolute;
	text-decoration:underline;
	bottom:0px;
}

.tab_content { 
	display:none;
}

#content_holder { 
	height:207px;
}

#content_holder p{
	font-size:12px;
	margin:0px;
} 

/* TABS */

#directory { 
   position: absolute;
   right: 442px;
   top: 67px;
}
#comp { 
   position: absolute;
   right: 271px;
   top: 67px;
}
#offer { 
   position: absolute;
   right: 138px;
   top: 67px;
}
#press { 
   position: absolute;
   right: 0px;
   top: 67px;
}